.p {
	padding: 0rem 1rem;
	text-align: left;
	width: 100%;
	font:
		400 20px/28px "Roboto",
		"Arial",
		sans-serif;
}

.img {
	width: 100%;
	height: auto;
}
.twoColumns {
	display: flex;
	flex-direction: column;
}

/* Desktop */

@media screen and (min-width: 768px) {
	.twoColumns {
		flex-direction: row;
		gap: 2rem;
	}
}
