.p {
	padding: 0;
	text-align: left;
	width: 100%;
	font:
		400 20px/28px "Roboto",
		"Arial",
		sans-serif;
}

.img {
	width: 100%;
	height: auto;
	padding: 1rem;
}
.twoColumns {
	display: flex;
	flex-direction: column;
}

.purplePSpan {
	color: #8900ff;
	font-weight: bolder;
}

.aboutAside {
}

/* Desktop */

@media screen and (min-width: 768px) {
	.twoColumns {
		flex-direction: row;
		gap: 2rem;
	}
}
