/* Mobile styling */

.wrapper {
	background: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Page hero container and content styling -- might move later */

.herocontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
}

.herodesc {
	color: white;
	font-size: 20px;
}

/* Shop page container styling */

.productcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	margin-top: -140px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	z-index: 20px;
	background-color: white;
	width: 500px;
	padding-top: 50px;
}

.productImg {
	display: block;
	width: 25%;
	height: auto;
}

.btncontainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input {
	margin: 10px;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #8900ff;
	padding: 10px;
}

.title {
	font-size: 25px;
}

.searchbtn {
	width: 400px;
	padding: 10px;
	background: #8900ff;
	border: none;
	color: white;
	border-radius: 5px;
	border: 2px solid #8900ff;
	margin-bottom: 15px;
}

.sortby {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
}

.select {
	border: 1px solid #e7e7e7;
	width: 100px;
	border-radius: 5px;
	height: 30px;
}

.searchbtn:hover {
	background: #6e00cc;
	border: 2px solid #8900ff;
}

.characters {
	text-align: left;
	font-size: 14px;
	font-style: italic;
}

/* MOBILE PRODUCT RESULTS STYLING */

.showmorebtn {
	border: 2px solid #e7e7e7;
	padding: 15px;
	border-radius: 5px;
	color: #8900ff;
	background: white;
	font-weight: bold;
	margin: 20px 0px 20px 200px;
}

.showmorebtn:hover,
.suggestbtn:hover {
	border: 2px solid #8900ff;
}

.suggestbtn {
	background: white;
	color: #8900ff;
	border: 2px solid #e7e7e7;
}

.productList {
	margin-top: 50px;
	border: 2px solid red;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.productImg {
	width: 300px;
	border-radius: 5px;
	border-radius: 10px;
	padding: 5px;
}

.productcard {
	border: 3px solid green;
	margin-right: 30px;
	border-radius: 5px;
	padding: 10px;
}

.animalname {
	font-size: 24px;
	font-weight: bold;
}

/* Desktop styling */
@media (min-width: 768px) {
	h1 {
		font-size: 40px;
	}

	.herocontainer {
		display: flex;
		flex-direction: column;
	}

	.productcontainer {
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		padding: 20px;
		width: 1000px;
		box-shadow: 0px 0px 20px 0px rgba(27, 28, 34, 0.1);
		margin-bottom: 100px;
		margin-top: -190px;
		margin-left: 240px;
		z-index: 20px;
		background-color: white;
	}

	.btncontainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: space-between;
	}

	.input {
		width: 800px;
		height: 50px;
	}

	.searchbtn {
		width: 180px;
		height: 45px;
		margin-bottom: 0px;
		margin-right: 20px;
	}

	.title {
		font-size: 16px;
		margin-right: 660px;
	}

	.productList {
		margin-left: 50px;
		margin-right: 50px;
		border: 5px solid #e7e7e7;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0px;
		margin-top: 0px;
	}

	.productcontainer {
		border: 3px solid black;
		display: flex;
		flex-direction: row;
		margin-top: -100px;
		margin-bottom: 0px;
	}

	.productcard {
		border: 3px solid green;
		flex-wrap: wrap;
		width: 350px;
		height: 400px;
		padding: 5px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		overflow: hidden;
		margin-top: 50px;
	}

	.animalname {
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.showmorebtn {
		margin-left: 700px;
	}
}
