/* Mobile header styling -- CSS gradient animation */
.wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: flex-start;
	color: white;
	width: 100%;
	height: 75vw;
	background: linear-gradient(-45deg, #8900ff, #ffd700, #2e8b57, #8900ff);
	background-size: 400% 400%;
	animation: gradient 22s ease infinite;
}

.viewHero {
	display: block;
	text-align: center;
	align-self: top;
	/* color: red !important; */
	/* font-size: 30px;
	z-index: 99; */
	/* margin: 0 !important; */
	/* padding: 0 !important; */
}

.viewHero h1 {
	font:
		900 56px/64px "Roboto",
		"Arial",
		sans-serif;
	padding: 0 1rem;
	margin: 0;
	color: #fff;
	background: transparent;
}

.viewHero h3 {
	font:
		400 24px/36px "Roboto",
		"Arial",
		sans-serif;
	padding: 1rem 1rem;
	margin: 0;
	text-align: left;
	color: #fff;
}

.siteNav {
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	35% {
		background-position: 100% 50%;
	}
	65% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Small Mobile Styling */

@media (max-width: 530px) {
	.wrapper {
		height: 57vh;
		padding: 1rem;
		gap: 1rem;
	}
}

/* Desktop header styling */

@media (min-width: 768px) {
	.wrapper {
		padding: 2rem;
		height: 55vh;
		justify-content: flex-start;
	}
}

@media (prefers-reduced-motion) {
	.wrapper {
		animation: none;
	}
}
