/* Mobile header styling -- CSS gradient animation */
.wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: flex-start;
	color: white;
	width: 100%;
	height: 80vw;
	background: linear-gradient(-45deg, #8900ff, #ffd700, #2e8b57, #8900ff);
	background-size: 400% 400%;
	animation: gradient 22s ease infinite;
}

.viewHero {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	align-items: center;
}

.viewHero h1 {
	font:
		900 32px/40px "Roboto",
		"Arial",
		sans-serif;
	padding: 0 1rem;
	margin: 0;
	color: #fff;
	background: transparent;
	text-align: center;
}

.viewHero h3 {
	font:
		400 18px/24px "Roboto",
		"Arial",
		sans-serif;
	padding: 1rem 1rem;
	margin: 0;
	text-align: left;
	color: #fff;
	text-align: center;
	width: 32ch;
}

.siteNav {
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	35% {
		background-position: 100% 50%;
	}
	65% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Small Mobile Styling */

@media (max-width: 530px) {
	.wrapper {
		height: 110vw;
		padding: 1rem;
		gap: 1rem;
	}
}

/* Table Sizing */

@media (min-width: 600px) {
	.logo {
		font-size: 3rem;
	}
	.viewHero h1 {
		font:
			900 40px/48px "Roboto",
			"Arial",
			sans-serif;
	}

	.viewHero h3 {
		font:
			400 24px/36px "Roboto",
			"Arial",
			sans-serif;
	}
}

/* Desktop header styling */

@media (min-width: 768px) {
	.wrapper {
		padding: 2rem;
		height: 30rem;
		justify-content: flex-start;
	}
	.viewHero h1 {
		font:
			900 56px/64px "Roboto",
			"Arial",
			sans-serif;
	}

	.viewHero h3 {
		font:
			400 24px/36px "Roboto",
			"Arial",
			sans-serif;
	}
}

@media (prefers-reduced-motion) {
	.wrapper {
		animation: none;
	}
}
