.wrapper {
}
.tabButtonContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	--border: 1px solid var(--PrimaryLight);
	--border-radius: 0.25rem;
}
.tabsSpacer1 {
	flex: 1;
	border-bottom: var(--border);
}

.tabsSpacer2 {
	flex: 1;
	border-bottom: var(--border);
}

.tabGroup {
	display: flex;
	justify-content: center;
}
.tabButton {
	all: unset;
	cursor: pointer;

	padding: 0.5rem 2rem;
	border-bottom: var(--border);

	/* TODO: rework to use whatever global solution we come up with */
	font:
		400 20px/28px "Roboto",
		"Arial",
		sans-serif;
	color: var(--BodyDarker);
}
.tabButton:disabled {
	cursor: unset;
	border: var(--border);
	border-bottom: none;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);

	color: var(--Black);
}

@media (min-width: 768px) {
	.tabButtonContainer {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 1.5rem;
		--border: 1px solid var(--PrimaryLight);
		--border-radius: 0.25rem;
	}
	.tabsSpacer1 {
		display: hidden;
	}

	.tabGroup {
		display: flex;
		justify-content: flex-start;
	}
}
