/* Mobile Styling */
.wrapper {
	padding: 0.5rem;
	/* border: 1px solid lightgray; */
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font:
		14px/20px "Roboto",
		sans-serif;
}

.activeLink,
.inactiveLink {
	padding: 2px;
	list-style: none;
	text-decoration: none;
}

.activeLink {
	color: #f9f9f9;
}

.inactiveLink {
	color: #fff;
}

/* Styling for hover animation */

.activeLink,
.inactiveLink {
	position: relative;
	color: #fff;
	text-decoration: none;
	padding-bottom: 2px;
}

.activeLink::after,
.inactiveLink::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0;
	transition:
		width 0.2s ease-out,
		opacity 0.2s ease-out;
}

.activeLink:hover::after,
.inactiveLink:hover::after {
	width: 100%;
	opacity: 100;
}

/* Mobile Hamburger Nav Styling */

/* Desktop styling */
@media (min-width: 786px) {
	.links {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		font:
			16px/24px "Roboto",
			sans-serif;
	}
}
