/* Mobile Styling */
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: transparent;
	padding: 1rem;
	width: 100%;
}

.logo {
	flex: 2;
	font-family: "Orbitron", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 40px;
	margin: 0 auto;
	padding-top: 1rem;
	width: auto;
	color: white;
}

.logoLink {
	text-decoration: none;
}

.links {
	display: flex;
	flex-direction: row;
	font:
		400 16px/24px "Roboto",
		sans-serif;
	margin-top: 2vw;
	width: auto;
	z-index: 10;
}

.activeLink,
.inactiveLink {
	padding: 2px;
	list-style: none;
	text-decoration: none;
	margin: 0 0 0 1.5rem;
}

.activeLink {
	color: #f9f9f9;
}

.inactiveLink {
	color: #fff;
}

/* Styling for hover animation */

.activeLink,
.inactiveLink {
	position: relative;
	color: #fff;
	text-decoration: none;
	padding-bottom: 2px;
}

.activeLink::after,
.inactiveLink::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background: currentColor;
	opacity: 0;
	transition:
		width 0.2s ease-out,
		opacity 0.2s ease-out;
}

.activeLink:hover::after,
.inactiveLink:hover::after {
	width: 100%;
	opacity: 100;
}

/* Mobile Hamburger Nav Styling */

.navBurgerMenu {
	display: fixed;
	padding-top: 1rem;
	margin-left: 1rem;
	z-index: 10;
}

/* Desktop styling */
@media (min-width: 768px) {
	.wrapper {
		padding: 1rem;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		background: transparent;
	}

	.logo {
		/* margin-right: 500px; */
		font-size: 64px;
		margin: 0 auto;
		flex: 1;
	}
	.links {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		font:
			16px/24px "Roboto",
			sans-serif;
		margin: 0;
		background-color: transparent;
		padding: 0;
	}

	.activeLink,
	.inactiveLink {
		padding: 2px;
		list-style: none;
		text-decoration: none;
		margin: 0;
	}

	.navBurgerMenu {
		display: none;
	}
}
